@import "../../Assets/style";

.NAVBAR {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $space-xs;
  height: 55px;
  z-index: 99;
  background-color: $white;
  box-shadow: $shadow-xs;

  &__logoCont {
    width: 100px;
  }
}

@media (max-width: $md) {
  .NAVBAR {
    padding: 0 $space-sm;
    height: 75px;
    border-bottom: 1px solid $grey;
  }
}

.CART-DESK {
  display: flex;
  color: $d-grey;
  border: 1px solid $grey;
  border-radius: $radius-md;
  padding: $space-xxs $space-xs;

  &__icon {
    position: relative;

    &-badge {
      text-align: center;
      position: absolute;
      top: -5px;
      right: -5px;
      background-color: $red;
      color: $white;
      width: 15px;
      height: 15px;
      border-radius: $radius-lg;
      font-size: $font-xxs;
    }
  }

  &__price {
    margin-left: $space-xs;
  }
}

@media (max-width: $md) {
  .CART-DESK {
    display: none;
  }
}

.CART-MOBILE {
  display: none;
  align-items: center;
  color: $d-grey;
  padding: $space-xxs $space-xs;
  cursor: pointer;

  &__icon {
    font-size: 25px;
  }

  &__price {
    margin-left: $space-xs;
  }
}

@media (max-width: $md) {
  .CART-MOBILE {
    display: flex;
  }
}