.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}

.m-t-0 {
    margin-top: 0;
}
.m-t-5 {
    margin-top: $space-xxs;
}
.m-t-10 {
    margin-top: $space-xs;
}
.m-t-20 {
    margin-top: $space-sm;
}
.m-t-40 {
    margin-top: $space-md;
}
.m-t-60 {
    margin-top: $space-lg;
}
.m-t-80 {
    margin-top: $space-xl;
}
.m-t-100 {
    margin-top: $space-xxl;
}

.m-b-0 {
    margin-bottom: 0;
}
.m-b-5 {
    margin-bottom: $space-xxs;
}
.m-b-10 {
    margin-bottom: $space-xs;
}
.m-b-20 {
    margin-bottom: $space-sm;
}
.m-b-40 {
    margin-bottom: $space-md;
}
.m-b-60 {
    margin-bottom: $space-lg;
}
.m-b-80 {
    margin-bottom: $space-xl;
}
.m-b-100 {
    margin-bottom: $space-xxl;
}

.m-r-0 {
    margin-right: 0;
}
.m-r-5 {
    margin-right: $space-xxs;
}
.m-r-10 {
    margin-right: $space-xs;
}
.m-r-20 {
    margin-right: $space-sm;
}
.m-r-40 {
    margin-right: $space-md;
}
.m-r-60 {
    margin-right: $space-lg;
}
.m-r-80 {
    margin-right: $space-xl;
}
.m-r-100 {
    margin-right: $space-xxl;
}

.m-l-0 {
    margin-left: 0;
}
.m-l-5 {
    margin-left: $space-xxs;
}
.m-l-10 {
    margin-left: $space-xs;
}
.m-l-20 {
    margin-left: $space-sm;
}
.m-l-40 {
    margin-left: $space-md;
}
.m-l-60 {
    margin-left: $space-lg;
}
.m-l-80 {
    margin-left: $space-xl;
}
.m-l-100 {
    margin-left: $space-xxl;
}